/* Global Styles */
body {
    margin-top: 100px;
    background-color: #fff;
    font-family: "comicSansMs", Helvetica, Arial, sans-serif;
}

#wrapper {
    padding-left: 0;

}

@font-face {
    font-family: "comicSansMs";
    src: url('../fonts/comic.ttf');
}

@font-face {
    font-family: "comicSansMs";
    font-style: italic;
    src: url('../fonts/comici.ttf');
}

@font-face {
    font-family: "comicSansMs";
    font-weight: bold;
    src: url('../fonts/comicbd.ttf');
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #EDEBEC;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

/* Top Navigation */
.header-logo {
    height: 40px;
    width: 114px;
    margin-top: 5px;
    margin-left: 15px;

}

.top-nav {
    padding: 0 15px;
}

.navbar-toggle {

}

.top-nav > li {
    display: inline-block;
    float: left;
}

.top-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #444343 !important;
    background-color: #E9E9E9;
}

.top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav > .open > .dropdown-menu > li > a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

#titreH1 {
    color: #B30C29;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    /*padding-left: 35px;*/
}

.side-nav > li > ul {
    padding: 0;

}

.side-nav > li.entete {
    display: block;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #444343 !important;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #444343 !important;
}

.side-nav > li > ul > li > a:hover {
    color: #444343 !important;
}

/* Custom Colored Panels */
.huge {
    font-size: 40px;
}

#contentHeader {
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
    /*background-color: #fff;*/
    /*border-top: 1px solid #D9D7D7;*/
    /*border-bottom: 1px solid #D9D7D7;*/

}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #D9D7D7;
}

/* CSS FOR BIG VIEW */
@media (min-width: 768px) {
    body {
        margin-top: 50px;
    }

    #wrapper {
        padding-left: 225px;
        background-color: #EDEBEC;
    }

    #page-wrapper {
        padding: 10px;
        background-color: #EDEBEC;
    }

    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #D9D7D7;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        color: #444343 !important;
    }

    .side-nav > li > a {
        width: 225px;
        color: #444343 !important;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #F5F5F5 !important;
        color: #444343 !important;
    }
}