@import 'variables';

ul#side-menu > li > ul {
  padding: 0px;
}

ul#side-menu > li > ul > li {
  padding: 0px;
  list-style:none;
}

ul#side-menu > li > ul > li > a{
  position: relative;
  display: block;
  padding: 10px 25px;
}

ul#side-menu > li > ul > li:hover {
  background-color: $menu-bg-color-hover;
}