@import 'variables';

* {
    box-sizing: border-box;
    font-family: comic sans ms;
}
.wrapper {
    flex: 1 1 auto;
    display: flex;
}
nav {
    width: 12.5em;
}
main {
    flex: 1;
}
nav {
    order: -1;
    background: $light-grey;
}
@media (max-width: 640px) {
    .wrapper {
        flex-direction: column;
    }
    nav {
        width: auto;
    }
    nav,
    main {
        flex-basis: auto;
    }
    nav {
        order: 0;
    }
}
header,
main {
    padding: 1em;
}
header {
    border-size:1px;
    border-color: $light-grey;
    border-bottom-style: solid;
}
nav > a {
    margin:0px;
    padding: 12px;
}
nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
nav li {
    padding: 12px;
}

nav, nav a {
    color: $grey;
}
nav a {
    text-decoration: none;
}

img.center {
    display: block;
    margin: 0 auto;
}