<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header"><i class="fa fa-book fa-fw"></i> LIVRET DE COMPÉTENCES</h1>
    </div>
</div>

<div *ngIf="lpc.length != 0">

    <!--AFFICHAGE DES BLOCS-->
    <div class="row">
        <div *ngFor="#bloc of lpc; #i = index">
            <div class="col-md-3" (click)="onBlocSelect(i)">
                <div class="bloc-cursor-pointer panel panel-bloc">
                    <div class="panel-heading">
                        <b>{{lpc[i].libelle}}</b>
                    </div>

                    <div class="panel-body">
                        <ul>
                            <li *ngFor="#matiere of lpc[i].matiere">
                                {{matiere.libelle}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--AFFICHAGE DU LPC-->
    <div class="row">
        <div *ngFor="#matiere of lpc[idBloc].matiere">
            <div class="col-sm-12">
                <bloc-matiere [matiere]="matiere"></bloc-matiere>
            </div>
        </div>
    </div>


</div>

<div *ngIf="lpc.length == 0">
    <loading-image></loading-image>
</div>


<!-- Modal -->
<div class="modal fade" id="UpdateEvaluation" tabindex="-1" role="dialog" aria-labelledby="UpdateEvaluationLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="UpdateEvaluationLabel">Evaluation</h4>
                <h5 id="labelUpdate">...</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="form-group">
                                <label>Date de l'évaluation</label>
                                <input class="form-control" id="dateUpdate">
                                <p class="help-block">Date de l'évaluation</p>
                            </div>

                            <hr/>
                            <div class="form-group">
                                <label>Évaluation</label>
                                <label class="radio-inline">
                                    <input type="radio" checked="" value="option1" id="optionsRadiosInline1"
                                           name="optionsRadiosInline">1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="option2" id="optionsRadiosInline2"
                                           name="optionsRadiosInline">2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="option3" id="optionsRadiosInline3"
                                           name="optionsRadiosInline">3
                                </label>
                                <p class="help-block">Évaluation de l'enseignant</p>
                            </div>
                            <hr/>
                            <div class="form-group">
                                <label>Auto-évaluation</label>
                                <label class="radio-inline">
                                    <input type="radio" checked="" value="option1" id="optionsRadiosInline1"
                                           name="optionsRadiosInline">1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="option2" id="optionsRadiosInline2"
                                           name="optionsRadiosInline">2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="option3" id="optionsRadiosInline3"
                                           name="optionsRadiosInline">3
                                </label>
                                <p class="help-block">Auto-évalaution de l'élève</p>
                            </div>
                            <hr/>
                            <div class="form-group">
                                <label>Commentaire</label>
                                <textarea rows="3" class="form-control" maxlength="255"
                                          id="commentaireUpdate"></textarea>
                                <p class="help-block">Commentaire à l'usage de l'enseignant</p>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Supprimer</button>
                <button type="button" class="btn btn-success">Sauvegarder</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
