<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header"><i class="fa fa-book fa-fw"></i> LIVRET DE COMPÉTENCES</h1>
    </div>
</div>

<div *ngIf="lpc.length != 0">

    <div class="row">
        <div class="col-sm-6">
            <p>{{eleve.prenom}} {{eleve.nom}}</p>
            <p>{{eleve.classes[anneeLpc].niveau}} {{eleve.classes[anneeLpc].libelle}} {{eleve.classes[anneeLpc].filiere}}</p>
            <p>Manager: {{eleve.classes[anneeLpc].manager}}</p>
        </div>
        <div class="col-sm-6">
            <button
                    *ngFor="#annee of lpc; #i = index"
                    (click)="changeAnnee(i)"
                    class="btn" [class.btn-primary]="i == anneeLpc"
                    [ngStyle]="{'margin-bottom':'10px'}">
                Année{{i+1}}
            </button>
        </div>
    </div>

    <!--AFFICHAGE DES BLOCS-->
    <div class="row">
        <div *ngFor="#bloc of lpc[anneeLpc].bloc; #i = index">
            <div class="col-md-3" (click)="onBlocSelect(i)">
                <div class="bloc-cursor-pointer panel panel-bloc">
                    <div class="panel-heading">
                        <b>{{bloc.libelle}}</b>
                    </div>

                    <div class="panel-body">
                        <ul>
                            <li *ngFor="#matiere of bloc.matiere">
                                {{matiere.libelle}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--AFFICHAGE DU LPC-->
    <div class="row">
        <div *ngFor="#matiere of lpc[anneeLpc].bloc[idBloc].matiere">
            <div class="col-sm-12">
                <bloc-matiere [matiere]="matiere" (refreshEvent)="refresh()"></bloc-matiere>
            </div>
        </div>
    </div>

</div>

<div *ngIf="lpc.length == 0">
    <loading-image></loading-image>
</div>

