<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header"><i class="fa fa-book fa-fw"></i> LIVRET DE COMPÉTENCES</h1>
    </div>
</div>

<div *ngIf="lpc.length != 0">

    <!--AFFICHAGE DES BLOCS-->
    <div class="row">
        <div *ngFor="#bloc of lpc; #i = index">
            <div class="col-md-3" (click)="onBlocSelect(i)">
                <div class="bloc-cursor-pointer panel panel-bloc">
                    <div class="panel-heading">
                        <b>{{lpc[i].libelle}}</b>
                    </div>

                    <div class="panel-body">
                        <ul>
                            <li *ngFor="#matiere of lpc[i].matiere">
                                {{matiere.libelle}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--AFFICHAGE DU LPC-->
    <div class="row">
        <div *ngFor="#matiere of lpc[idBloc].matiere">
            <div class="col-sm-12">
                <bloc-matiere [matiere]="matiere"></bloc-matiere>
            </div>
        </div>
    </div>


</div>

<div *ngIf="lpc.length == 0">
    <loading-image></loading-image>
</div>

